.App {
  width: 80%;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-clocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.btn {
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 0.75rem;
  color: #fff;
  width: 9%;
  margin: 10px 0;
  cursor: pointer;
}

.btn-primary {
  border-color: blue;
  background: blue;
}

#search {
  height: 30px;
  border-radius: 0.25rem;
  outline: 0;
  width: 30%;
}

/* clock item */
.clock-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-item .header{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.fa-times{
  margin-top: 15px;
  margin-right: 20px;
  font-size: 25px;
  color: red;
  cursor: pointer;
}